* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;

    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

a {
    text-decoration: none;
    color: #fff;
}